@import "../../styles/main";

.container {
  background: white;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.header {
  border-bottom: 4px solid $lightgray;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: $darkgray;
}