@import "../../../styles/main";

$size: 8px;

.container {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $lightblue;
}

.opened {
  transform: rotate(180deg);
}